aiohappyeyeballs
aiohttp
aiolimiter
aiosignal
annotated-types
attrs
certifi
cffi
charset-normalizer
colorama
cryptography
fastmcp
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
multidict
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
python-dotenv
httpx
networkx
numpy
pyscf
rdkit
requests
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
yarl
